.sortSelect{
    display: flex;
    padding-left: 2px;
    border: 1px solid rgba(1, 50, 67, 0.4);
    width: 90px;
    color: #14274E;
    border-radius: 12px;
    height: 24px;
    font-size: 12px;
    justify-content: center;
    align-content: center;
    background: rgba(1, 50, 67, 0.02);
}

.sortSelect select:focus {
    outline: none;
}

.headerButton {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.taskItems {
    display: flex;
    flex-wrap: wrap;
    border-style: none;
    border-radius: 12px;
    border-width: 2px;
}

.taskItems>div{
    margin: 4px;
}

.confirmButton{
    border-style: none;
    border-radius: 12px;
    background-color: #3D9970;
    border-color: #3D9970;
    color: #F1F6F9;
    height: 22px;
}

.cancel{
    background: rgba(1, 50, 67, 0.08);
    border-radius: 12px;
    height: 22px;
}
.cancel:hover{
    border-radius: 12px;
    height: 22px;
}