.headerButton {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.taskItems {
    display: flex;
    flex-wrap: wrap;
    border-style: none;
    border-radius: 12px;
    border-width: 2px;
}

.taskItems>div{
    margin: 4px;
}

.confirmButton{
    border-style: none;
    border-radius: 12px;
    background-color: #3D9970;
    border-color: #3D9970;
    color: #F1F6F9;
}

.cancel{
    background: rgba(1, 50, 67, 0.08);
    border-radius: 12px;
}
.cancel:hover{
    border-radius: 12px;
}