.headerButton {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.taskItems {
    display: flex;
    flex-wrap: wrap;
    border-style: none;
    border-radius: 12px;
    border-width: 2px;
}

.taskItems>div{
    margin: 4px;
}

.confirmButton{
    border-style: none;
    /*padding-left: 6px;*/
    /*padding-right: 6px;*/
    background-color: #3D9970;
    border-color: #3D9970;
    /*margin-left: auto;*/
    color: #F1F6F9;
}

.cancel{
    background-color: #91C788;
    border-style: none;
}