.taskItems {
    border-style: none;
    border-radius: 12px;
    border-width: 2px;
    overflow-y:auto;
    margin-bottom: 2vh;
}

.taskItems>div{
    margin-bottom: 4px;
}


.completedTaskItems{
    border-style: none;
    border-radius: 12px;
    border-width: 2px;
}



.completedTaskItems>div{
    margin-bottom: 4px;
}


