.taskItems {
    border-style: none;
    border-radius: 12px;
    border-width: 2px;
}

.taskItems>div{
    margin-bottom: 4px;
}


.completedTaskItems{

    border-style: none;
    border-radius: 12px;
    border-width: 2px;
}



.completedTaskItems>div{
    margin-bottom: 4px;
}


