input[type="checkbox"]{
    transform : scale(1.5);
}

input[type="checkbox"]{
    filter: hue-rotate(295deg)
}

.listItem {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 12px;
    border-width: 1px;
    background: rgba(1, 50, 67, 0.08);
    border-style: none;
    padding: 8px;
    color: #14274E;
    flex-basis: 100%;
    transition-duration: 0.2s;
}

.listItem:hover {
    background: rgba(1, 50, 67, 0.15);
}

.selectedListItem {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 12px;
    border-width: 1px;
    background: rgba(1, 50, 67, 0.4);
    border-style: none;
    padding: 8px;
    color: #14274E;
    flex-basis: 100%
}

.rename {
    border-radius: 12px;
    background-color: white;
    color: gray;
    border: none;
    /*height: 25px;*/
    /*width: 230px;*/
    padding-left: 10px;
    font-size: 15px;
}

.rename:focus {
    outline: 2px solid rgba(1, 50, 67, 0.5);
}

.completeItem{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 12px;
    border-width: 1px;
    background: rgba(1, 50, 67, 0.02);
    border-style: none;
    padding: 8px;
    color: #14274E;
    flex-basis: 100%
}

.task {
    border-radius: 12px;
    background: transparent;
    border-style: none;
    padding-left: 8px;
    font-size: 15px;
}

.priorityGroup{
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    margin-left: auto;
}


.priorityStatus{
    display: flex;
    width: 18px;
    justify-content: center;
    align-items: center;
    font-family: "sans-serif";
    padding-left: 7px;
    color: rgb(255, 99, 71);
    font-size: 15px;
}


.priorityDisplay{
    transition-duration: 0.1s;
    display: flex;
    width: 18px;
    justify-content: center;
    align-items: center;
    font-family: "sans-serif";
    font-size: 15px;
    background-color: whitesmoke;
    color: hsla(0, 75%, 53%, 0.6);
    border-style: solid;
    /*border-width: 0.01em;*/
    border-radius: 2px;
    border-width: 0.5px;
}


/*.priorityDisplay:hover{*/
/*    display: flex;*/
/*    width: 21px;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    font-family: "sans-serif";*/
/*    !*padding-left: 7px;*!*/
/*    color: whitesmoke;*/
/*    !*font-weight: bold;*!*/
/*    font-size: 17px;*/
/*    background-color: hsla(0, 75%, 53%, 0.3);*/
/*    border-style: solid;*/
/*    !*border-width: 0.01em;*!*/
/*    border-color: hsla(0, 75%, 53%, 0.3);*/
/*    border-radius: 2px;*/
/*    border-width: 0.5px;*/
/*}*/

.deleteButton{
    display: flex;
    justify-content: center;
    align-content: center;
    /*padding-top: 2px;*/
    /*padding-bottom: 2px;*/
    border-radius: 12px;
    width: 20px;
    background: rgba(1, 50, 67, 0.4);
}
.deleteButton:hover {
    border-radius: 12px;
    color: white
}

.prioritySelected{
    display: flex;
    width: 18px;
    justify-content: center;
    align-items: center;
    font-family: "sans-serif";
    /*padding-left: 7px;*/
    color: hsla(0, 75%, 53%, 0.6);
    /*font-weight: bold;*/
    font-size: 15px;
    background-color: hsla(0, 75%, 53%, 0.6);
    border-style: solid;
    /*border-width: 0.01em;*/
    border-color: hsla(0, 75%, 53%, 0.6);
    color: whitesmoke;
    border-radius: 2px;
    border-width: 0.5px;
}