.listItem {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 12px;
    border-width: 1px;
    background: rgba(1, 50, 67, 0.08);
    border-style: none;
    padding: 8px;
    color: #14274E;
    flex-basis: 100%;
    transition-duration: 0.2s;
}

.listItem:hover {
    background: rgba(1, 50, 67, 0.15);
}

.selectedListItem {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 12px;
    border-width: 1px;
    background: rgba(1, 50, 67, 0.4);
    border-style: none;
    padding: 8px;
    color: #14274E;
    flex-basis: 100%
}

.rename {
    border-radius: 12px;
    background-color: white;
    color: gray;
    border: none;
    /*height: 25px;*/
    /*width: 230px;*/
    padding-left: 10px;
    font-size: 15px;
}

.rename:focus {
    outline: 2px solid rgba(1, 50, 67, 0.5);
}

.completeItem{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 12px;
    border-width: 1px;
    background: rgba(1, 50, 67, 0.02);
    border-style: none;
    padding: 8px;
    color: #14274E;
    flex-basis: 100%
}

.task {
    border-radius: 12px;
    background: transparent;
    border-style: none;
    padding-left: 10px;
    font-size: 15px;
}

.prorityGroup{
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    margin-left: auto;
}


.priorityStatus{
    display: flex;
    width: 21px;
    justify-content: center;
    align-items: center;
    font-family: "Adobe Fan Heiti Std";
    padding-left: 7px;
    color: red;
    /*font-weight: bold;*/
    font-size: 17px;
}


.priorityDisplay{
    display: flex;
    width: 21px;
    justify-content: center;
    align-items: center;
    font-family: "Adobe Fan Heiti Std";
    /*padding-left: 7px;*/
    color: red;
    /*font-weight: bold;*/
    font-size: 17px;
    background-color: lightsteelblue;
    border-style: solid;
    border-width: 0.1em;
    border-color: rgba(1, 50, 67, 0.3);
}

.priorityDisplay:hover{
    display: flex;
    width: 21px;
    justify-content: center;
    align-items: center;
    font-family: "Adobe Fan Heiti Std";
    /*padding-left: 7px;*/
    color: red;
    /*font-weight: bold;*/
    font-size: 17px;
    background-color: rgba(1, 50, 67, 0.5);
    border-style: solid;
    border-width: 0.1em;
    border-color: rgba(1, 50, 67, 0.8);
}

.prioritySelected{
    display: flex;
    width: 21px;
    justify-content: center;
    align-items: center;
    font-family: "Adobe Fan Heiti Std";
    /*padding-left: 7px;*/
    color: red;
    /*font-weight: bold;*/
    font-size: 17px;
    background-color: rgba(1, 50, 67, 0.8);
    border-style: solid;
    border-width: 0.1em;
    border-color: rgba(1, 50, 67, 0.3);
    color: whitesmoke;
}

input[type="checkbox"]{
    transform : scale(1.5);
}
