
#outlier{
    width: 90vw;
    height: 90vh;
    display: grid;
    grid-template-rows: 50% 5% 35% 8%;
    background: #F1F6F9;
    padding: 20px;
}


#listOutlier{
    width: 90vw;
    height: 90vh;
    display: grid;
    grid-template-rows: 10% 70% 8%;
    background: #F1F6F9;
    padding: 20px;
}


.center {
    margin: 0 auto;
    padding: 8vh;
    text-align: center;
    width: 60vw;
    height: 70vh;
    align-content: center;
    justify-content: center;
    border-radius: 10px;
    font-weight: bold;
    font-family: "Adobe Gothic Std";
}

.typeInfo {
    display: flex;
    flex-wrap: wrap;
}


.3PSignIn{
   justify-content: center;
   align-content: center;
}

#googleButton {
    margin: 0 auto;
    padding-left: 20%;
    padding-right: 20%;
}

.inputFields {
    margin-bottom: 1vh;
}

.homeInput {
    background-color: white;
    border-style: none;
    height: 8px;
    width: 100%;
    padding: 0.9em;
    font-size: 15px;
    margin-bottom: 1vh;

}

.logo {
    margin-bottom: 5vh;
}

.homeButton {
    width: 80%;
    height: 4vh;
    background-color: white;
    border-style: solid;
    border-radius: 2px;
    border-width: 1.5px;
    color: #14274E;
    border-color: rgba(1, 50, 67, 0.6);
    margin-bottom: 30vh;
}

.homeLogInButton {
    width: 80%;
    height: 4vh;
    background-color: rgba(1, 50, 67, 0.8);
    border-style: solid;
    border-radius: 2px;
    border-width: 1.5px;
    color: white;
    border-color: rgba(1, 50, 67, 0.6);
    margin-bottom: 30vh;
}

.loadingHomeButton {
    width: 80%;
    height: 4vh;
    background-color: white;
    border-style: solid;
    border-radius: 2px;
    border-width: 1.5px;
    color: grey;
    border-color: rgba(1, 50, 67, 0.4);
}

.homeButton:hover {
    background-color: white;
    color: #14274E;
    border-color: rgba(1, 50, 67, 0.2);
    border-style: solid;
}

.homeLogInButton:hover {
    width: 80%;
    height: 4vh;
    background-color: rgba(1, 50, 67, 1);
    border-style: solid;
    border-radius: 2px;
    border-width: 1.5px;
    color: white;
    border-color: rgba(1, 50, 67, 0.6);
    margin-bottom: 30vh;
}

#signIn{
    flex-grow: 1;
}

#signUp{
    flex-grow: 1;
}

#form {
    display: flex;
    flex-wrap: wrap;
}

#homeOutlier{
    width: 90vw;
    height: 90vh;
    display: grid;
    background: #F1F6F9;
    padding: 20px;
    align-content: center;
    justify-content: center;
    text-align: center;
}

h1{
    font-family: -apple-system, Helvetica;
}

body{
    font-family: -apple-system, Helvetica;
    color: #14274E;
    font-size: 15px;
}


@media screen and (orientation:landscape) and (min-width:732px) {
    #outlier{
        width: 90vw;
        height: 90vh;
        display: grid;
        grid-template-rows: 80% 1% 7%;
        background: #F1F6F9;
    }

    .sectionWrapper{
        display: flex;
        flex-direction: row;
        width: 90vw;
        justify-content: space-around;
    }

    .incompleteWrapper {
        flex-grow: 1;
    }

    .completeWrapper {
        flex-grow: 1;
    }

    .hideButton {
        grid-column: 1 / span 2;
        grid-row: 2;
    }

    .disabledHideButton{
        grid-column: 1 / span 2;
        grid-row: 2;
    }

    .addList {
        grid-row: 3;
        margin-left: auto;
        width: 100vw;
        align-items: center;
        justify-content: center;
        display: flex;
    }

    .taskInputBox {
        border-radius: 12px;
        background-color: white;
        border-style: none;
        height: 8px;
        width: 100%;
        padding: 0.9em;
        font-size: 15px;
    }

}

.addList {
    grid-row: 4;
    width: 90vw;
    margin-left: auto;
    align-items: center;
    justify-content: center;
    display: flex;
    /*display: flex;*/
    /*flex-wrap: wrap;*/
}

.taskInputBox {
    border-radius: 12px;
    background-color: white;
    border-style: none;
    height: 8px;
    width: 100%;
    padding: 0.9em;
    font-size: 15px;
}


button {
    transition-duration: 0.2s;
    border-style: none;
}

button:hover {
    background: rgba(1, 50, 67, 0.8);
    color: white;
    border-style: none;
}

.addButton{
    height: 35px;
    font-size: 25px;
    background-color: #3D9970;
    justify-content: center;
    align-content: center;
    color: #F1F6F9;
    border-style: none;
    border-radius: 20px;
    padding-left: 12px;
    padding-right: 12px;
}

.disabledAddButton{
    height: 35px;
    font-size: 25px;
    background-color: lightgrey;
    color: #F1F6F9;
    border-style: none;
    border-radius: 20px;
    padding-left: 12px;
    padding-right: 12px;
}

.disabledAddButton:hover {
    background: lightgrey;
    color: whitesmoke;
}

.disabledHideButton{
    font-family: -apple-system, Helvetica;
    background-color: lightgrey;
    color: #F1F6F9;
    border-width: 1px;
    width: 100%;
    border-radius: 12px;
    height: 25px;
}

.disabledHideButton:hover {
    background: lightgrey;
    color: whitesmoke;
    border-radius: 12px;
    height: 25px;
}


.hideButton{
    font-family: -apple-system, Helvetica;
    grid-row: 2;
    border-width: 1px;
    height: 25px;
    width: 100%;
    background: rgba(1, 50, 67, 0.08);
    border-radius: 12px;
}

.hideButton:hover {
    background: rgba(1, 50, 67, 0.8);
    color: white;
    height: 25px;
}


.headerButton {
    display: flex;
    align-items: center;
    padding-right: 5px;
}

.buttonGroup {
    margin-left: auto;
    display: flex;
    justify-content: right;
}

.hiddenButton {
    display: flex;
    border-radius: 8px;
    background-color: transparent;
    width:26px;
    align-content: center;
    justify-content: center;
    position: relative;
    visibility: hidden
}

.goToButton{
    display: flex;
    border-radius: 8px;
    background-color: transparent;
    width:26px;
    align-content: center;
    justify-content: center;
    position: relative;
}

.share{
    display: flex;
    border-radius: 8px;
    background-color: transparent;
    width:26px;
    align-content: center;
    justify-content: center;
    position: relative;
}

.share:hover {
    background-color: white;
}


.goToButton:hover{
    background-color: white;
}
