#outlier{
    width: 350px;
    height: 630px;
    display: grid;
    grid-template-rows: 1fr 25px 1fr 20px;
    background: #F1F6F9;
    padding: 20px;
}

/*.backdrop {*/
/*    position: fixed;*/
/*    top:0;*/
/*    left: 0;*/
/*    bottom: 400pt;*/
/*    right: 300pt;*/
/*    width: 300pt;*/
/*    height: 400pt;*/
/*    background-color: rgba(0, 0, 0, .3);*/
/*}*/

h1{
    font-family: -apple-system, Helvetica;
}

body{
    font-family: -apple-system, Helvetica;
    color: #14274E;
    font-size: 15px;
}

ul {
    list-style: none;
}


.taskItems {
    display: flex;
    flex-wrap: wrap;
    /*padding: 8px;*/
    border-style: none;
    border-radius: 12px;
    border-width: 2px;
}

.taskItems>div{
    margin: 4px;
}

.listItem {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 12px;
    border-width: 1px;
    background: rgba(1, 50, 67, 0.08);
    border-style: none;
    padding: 8px;
    color: #14274E;
    flex-basis: 100%;
}

.selectedListItem {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 12px;
    border-width: 1px;
    background: rgba(1, 50, 67, 0.3);
    border-style: none;
    padding: 8px;
    color: #14274E;
    flex-basis: 100%
}


.completedTaskItems{
    display: flex;
    flex-wrap: wrap;
    /*padding: 8px;*/
    border-style: none;
    border-radius: 12px;
    border-width: 2px;
    /*background-color: rgba(1, 50, 67, 0.02);*/
}

.completedTaskItems>div{
    margin: 4px;
}

.completeItem{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 12px;
    border-width: 1px;
    background: rgba(1, 50, 67, 0.02);
    border-style: none;
    padding: 8px;
    color: #14274E;
    flex-basis: 100%
}


.rename {
    border-radius: 12px;
    background-color: ghostwhite;
    color: gray;
    border: none;
    height: 25px;
    width: 230px;
    padding-left: 10px;
    font-size: 17px;
}

.task {
    border-radius: 12px;
    background: transparent;
    border-style: none;
    padding-left: 10px;
    font-size: 17px;
}


.taskInputBox {
    border-radius: 12px;
    background-color: white;
    border-style: none;
    height: 8px;
    width: 260px;
    padding: 0.9em;
    font-size: 15px;
}


input[type="checkbox"]{
    transform : scale(1.5);
}


.addList{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-basis: 100%;
}

Button {
    height: 22px;
    border-radius: 12px;
    transition-duration: 0.2s;
    border-width: 1px;
}

button:hover {
    background: rgba(1, 50, 67, 0.8);
    color: white;
}

.addButton{
    height: 35px;
    font-size: 25px;
    background-color: #3D9970;
    color: #F1F6F9;
    border-style: none;
    border-radius: 20px;
    padding-left: 12px;
    padding-right: 12px;
}

.deleteButton{
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 50%;
    background-color: whitesmoke;
    border-color: rgba(1, 50, 67, 0.7)
}

.confirmButton{
    border-style: solid;
    padding-left: 6px;
    padding-right: 6px;
    background-color: #3D9970;
    border-color: #3D9970;
    margin-left: auto;
    color: #F1F6F9;
}

.warning{
    border-style: solid;
    padding-left: 6px;
    padding-right: 6px;
    background-color: hsla(0, 75%, 53%, 0.6);
    border-color: hsla(0, 75%, 53%, 0.6);
    margin-left: auto;
    color: #F1F6F9;
}

#hideButton{
    border-width: 1px;
    width: 100%;
    background: rgba(1, 50, 67, 0.08);
}

#hideButton:hover {
    background: rgba(1, 50, 67, 0.8);
    color: white;
}


.cancel{
    background-color: #91C788;
    border-style: none;
}



.buttonGroup {
    margin-left: auto;
}

.addList {
    position: fixed;
    top: 600px;
    margin-left: auto;
}


.headerButton {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}


