#outlier{
    width: 360px;
    height: 640px;
    display: grid;
    grid-template-rows: 1fr 25px 1fr 20px;
    border-radius: 25px;
    background: #F1F6F9;
    padding: 20px;
}

h1{
    font-family: ".SF NS";
}

body{
    font-family: ".SF NS";
    color: #14274E;
}

.item {
    padding-left: 0.4em;
}

ul {
    list-style: none;
}


.taskItems {
    display: flex;
    flex-wrap: wrap;
    /*padding: 8px;*/
    border-style: none;
    border-radius: 10px;
    border-width: 2px;
}

.taskItems>div{
    margin: 4px;
}

.listItem {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 12px;
    border-width: 1px;
    background: rgba(1, 50, 67, 0.08);
    border-style: none;
    padding: 8px;
    color: #14274E;
    flex-basis: 100%;
}

.selectedListItem {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 12px;
    border-width: 1px;
    background: rgba(1, 50, 67, 0.3);
    border-style: none;
    padding: 8px;
    color: #14274E;
    flex-basis: 100%
}


.completedTaskItems{
    display: flex;
    flex-wrap: wrap;
    /*padding: 8px;*/
    border-style: none;
    border-radius: 10px;
    border-width: 2px;
    /*background-color: rgba(1, 50, 67, 0.02);*/
}

.completedTaskItems>div{
    margin: 4px;
}

.completeItem{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 12px;
    border-width: 1px;
    background: rgba(1, 50, 67, 0.02);
    border-style: none;
    padding: 8px;
    color: #14274E;
    flex-basis: 100%
}


.rename {
    border-radius: 20px;
    background-color: #F1F6F9;
    border-style: none;
    height: 8px;
    width: 200px;
    padding: 0.9em;
}


.taskInputBox {
    border-radius: 20px;
    background-color: white;
    border-style: none;
    height: 8px;
    width: 300px;
    padding: 0.9em;
}


input[type="checkbox"]{
    border-radius: 20px;
    border-width: 1px;
    background-color: white;
    border-style: none;
    height: 8px;
    padding: 0.9em;
    transform : scale(2.5);
}


form, .form-fields{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-basis: 100%;
}

Button {
    border-radius: 15px;
    transition-duration: 0.2s;
    border-width: 1px;
}

button:hover {
    background-color: #14274E;
    color: white;
}

.addButton{
    background-color: #3D9970;
    color: #F1F6F9;
    border-style: none;
    padding-left: 12px;
    padding-right: 12px;
}

.deleteButton{
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 50%;
    background-color: whitesmoke;
    border-color: rgba(1, 50, 67, 0.7)
}

.warning{    border-style: solid;
    padding-left: 6px;
    padding-right: 6x;
    background-color: hsla(0, 75%, 53%, 0.6);
    border-color: hsla(0, 75%, 53%, 0.6);
    margin-left: auto;
    color: #F1F6F9;
}

#hideButton{
    border-width: 1px;
    width: 100%;
}

.cancel{
    background-color: #91C788;
    border-style: none;
}



.buttonGroup {
    margin-left: auto;
}

.addList {
    display: flex;
    margin-left: auto;
    flex-basis: 100%;
}


.headerButton {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}


